/* Estilos para la tarjeta */
.cardWrapper {
  position: relative;
}

.cardBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d8cbf; /* Nuevo color de fondo para la "tarjeta" detrás */
  z-index: 0;
  border-radius: 10px; /* Bordes redondeados */
}

.cardCont {
  position: relative;
  border: 2px solid #1d3b5b;
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: center;
  background-color: #132c4e; /* Nuevo fondo de la "tarjeta" principal */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 15px;
  z-index: 1;
}

.cardContTitle {
  font-family: 'Verdana', sans-serif; /* Cambio de la tipografía */
  background-color: #fdb44b;
  color: #ffffff;
  padding: 15px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cardCont:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.cardContInfo {
  margin-top: 20px;
  padding-top: 20px;
}

.cardContInfo h5 {
  font-size: 20px;
  margin: 15px 0;
  color: #fdb44b;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.cardContInfo ul {
  text-align: left;
  padding-left: 0;
  margin-top: 15px;
}

.cardContInfo ul li {
  list-style: none;
  margin: 10px 0;
  color: #fff;
}

/* Estilos para los temperamentos */
.cardContInfo ul li {
  display: inline-block;
  background-color: #ffaa80;
  padding: 12px 18px;
  margin: 12px;
  border-radius: 20px;
  color: #333;
  font-weight: bold;
}

.cardImgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
}

.cardImgCont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
