/* styles.module.css */

.filtersContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Ajustar el margen inferior según tus necesidades */
  padding: 10px;
  background: linear-gradient(to right, #283593, #1a237e);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filtersSection,
.paginationSection {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 300px; /* Ajustar el tamaño máximo del contenedor según tus necesidades */
  margin-bottom: 10px; /* Ajustar el margen inferior según tus necesidades */
  color: white;
}

.filtersSection h4,
.paginationSection h4 {
  font-size: 16px; /* Ajustar el tamaño de la fuente según tus necesidades */
  margin-bottom: 8px; /* Ajustar el margen inferior según tus necesidades */
  text-align: center;
}

.select {
  padding: 6px; /* Ajustar el tamaño del padding para hacer los elementos más pequeños */
  margin-right: 5px; /* Ajustar el margen derecho según tus necesidades */
  background-color: #3949ab;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.select:hover {
  background-color: #303f9f;
}

.paginationButton {
  padding: 6px 12px; /* Ajustar el tamaño del padding para hacer los botones más pequeños */
  background-color: #3949ab;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginationButton:hover {
  background-color: #303f9f;
}
