/* Estilos para la sección de filtros y paginación */
.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px; /* Se redujo el relleno */
  background: #1a237e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filtersSection,
.paginationSection {
  width: 100%;
  margin-bottom: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px; /* Se redujo el relleno */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para los elementos de filtro y paginación */
.select,
.paginationButton,
.filtersSection button {
  padding: 10px; /* Se redujo el relleno */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.select:hover,
.paginationButton:hover,
.filtersSection button:hover {
  background-color: #303f9f;
}

/* Márgenes internos para los elementos de filtro y paginación */
.filtersSection select,
.paginationSection button,
.filtersSection button {
  margin-bottom: 10px;
}

/* Estilo para Filtrado por Origen */
.filtersSection select[name="origin"] {
  margin-top: 10px;
}

/* Estilo para Botón de Reset */
.filtersSection button.resetButton {
  padding: 8px 16px; /* Se redujo el relleno */
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.filtersSection button.resetButton:hover {
  background-color: #b71c1c;
}

/* Estilo para Temperamentos Seleccionados */
.filtersSection button.selectedTemperament {
  background-color: cadetblue;
  margin-right: 5px;
  margin-bottom: 5px;
}

.filtersSection button.selectedTemperament:hover {
  background-color: slateblue;
}

/* Estilos para la sección de paginación centrada */
.paginationSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para los elementos de paginación */
.paginationButton {
  margin: 0 5px;
}

/* Márgenes internos para los elementos de paginación */
.paginationSection button {
  margin-bottom: 0;
}
