.NavBarCont {
  background-image: url('https://www.everythingdoormats.com/images/products/all-you-need-is-dog-doormat-funny-m909');
  background-size: cover; /* Cubre completamente el contenedor */
  background-position: center 35%; /* Ajusta la posición de la imagen hacia abajo */
  background-repeat: no-repeat;
  color: white; /* Cambiado a color blanco para mejorar la legibilidad */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 220px; /* Reducida la altura para una mejor visualización */
}

.NavBarLinkCont {
  display: flex;
  gap: 20px;
  align-items: flex-end; /* Centrar los enlaces en la parte inferior */

}
.NavBarLink {
  text-decoration: none;
  color: blue; /* Color principal más vibrante */
  font-weight: bold;
  font-size: 30px;
  margin-left: 60px;
  margin-right: 60px;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s; /* Agregada transición para color, transformación y sombra */
 
}

.NavBarLink:hover {
  color: #1a73e8; /* Cambio de color al pasar el ratón */
  transform: scale(1.5); /* Efecto de escala al pasar el ratón */
  
}

.NavBarLink {
  
  cursor: pointer; /* Cambia el cursor al icono de la mano */
}

.NavBarImgCont img {
  max-width: 200px; /* Aumentado el tamaño del logo */
  height: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agregando sombreado a la imagen */
}
